@import "tailwindcss";

:root {
  --color-dorado: #caa056;
  --color-negro: #131514;
  --color-rojo-vino: #832324;
}

@theme inline {
  --color-dorado: var(--color-dorado);
  --color-negro: var(--color-negro);
  --color-rojo-vino: var(--color-rojo-vino);
}

body {
  color: var(--color-negro);
  min-height: 100vh;
  overflow-x: hidden;
}

/* Scrollbar global oculto */
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }